<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>297041713285-b2rf4phdjteddvt1bs5s882p76bbteb5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.297041713285-b2rf4phdjteddvt1bs5s882p76bbteb5</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>297041713285-b1rhi1aoiev78ejldl9u376b0ivac189.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBU5PseMw2XMx00wMmT46ShyZjHbfpUals</string>
	<key>GCM_SENDER_ID</key>
	<string>297041713285</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tripsapp</string>
	<key>PROJECT_ID</key>
	<string>tripsflutter-85b34</string>
	<key>STORAGE_BUCKET</key>
	<string>tripsflutter-85b34.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:297041713285:ios:ea8e3e782865660674f1ec</string>
	<key>DATABASE_URL</key>
	<string>https://tripsflutter-85b34.firebaseio.com</string>
</dict>
</plist>